:root {
  font-size: 16px;
  --primary-bg-color: rgb(24, 24, 102);
  --primary-color: white;
  --image-bg-color: white;
  --image-border-width: 8px;
  --body-padding: 4vw;
  --header-border-width: 1vw;
  --header-width: calc(100vw - var(--body-padding) * 2) - var(--header-border-width) * 2;
  --image-size: calc(82vw / 5);
  --button-bg-color: dodgerblue;
  --button-color: white;
  --body-padding-lg: 10%;
  --header-padding-lg: 1rem;
  --header-height-lg: calc(6rem + var(--header-border-width) * 2 + var(--header-padding-lg) * 2);
  --image-size-lg: 70px;
}

body {
  height: 100vh;
  margin: 0;
  padding: var(--body-padding);
  display: grid;
  grid-template-rows: calc(6rem + var(--body-padding) * 2) auto 100px;
  background-color: var(--primary-bg-color);
}

/* Top */
header {
  width: var(--header-width);
  padding: 4vw;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: var(--header-border-width) solid turquoise;
  border-radius: 4px;
}

.elements {
  display: flex;
  flex-direction: row;
  color: var(--primary-color);
}

.element {
  color: var(--primary-color);
  text-transform: uppercase;
}

.score {
  padding: 4vw 8vw;
  background-color: var(--primary-color);
  border: 1px solid turquoise;
  border-radius: 5px;
  font-size: 1rem;
}

.value {
  text-align: center;
  font-size: 2.4em;
}

/* Center */
.circle-container {
  height: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
}

.circle {
  width: var(--image-size);
  height: var(--image-size);
  background-color: var(--image-bg-color);
  border-radius: 50%;
  border: var(--image-border-width) solid black;
}

.water {
  border-color: aqua;
}

.fire {
  border-color: red;
}

.metal {
  border-color: gray;
}

.wood {
  border-color: green;
}

.earth {
  border-color: brown;
}

/* Result */
.result-container {
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--primary-color);
}

.chosen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result .win-lose {
  font-size: 3rem;
}

.result .btn-play {
  font-size: 1.25rem;
}

/* Bottom */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-info {
  padding: 10px;
  width: 100%;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: 24px;
  font-size: 1rem;
}

/* Info */
.info {
  background-color:rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-header {
  text-align: center;
}

.info ul {
  flex-grow: 1;
  padding: 0;
}

.info ul li {
  list-style: none;
  font-size: 1.5rem;
}

.btn-info-close {
  padding: 10px;
  width: 100%;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: 24px;
  font-size: 1rem;
}

/* responsive */
@media screen and (min-width: 1024px) {
  body {
    width: 60%;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: var(--header-height-lg) auto 100px;
  }

  header {
    margin-top: 1rem;
    padding: 1rem;
  }

  .score {
    padding: 1rem;
  }

  .circle {
    width: var(--image-size-lg);
    height: var(--image-size-lg);
  }

  .info {
    width: 60vw;
    left: 20%;
  }
}